pkgbase = ros-melodic-effort-controllers
	pkgdesc = ROS - effort_controllers.
	pkgver = 0.17.2
	pkgrel = 2
	url = https://github.com/ros-controls/ros_controllers/wiki
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-melodic-forward-command-controller
	makedepends = ros-melodic-realtime-tools
	makedepends = ros-melodic-urdf
	makedepends = ros-melodic-control-toolbox
	makedepends = ros-melodic-control-msgs
	makedepends = ros-melodic-controller-interface
	makedepends = ros-melodic-angles
	makedepends = ros-melodic-catkin
	depends = ros-melodic-forward-command-controller
	depends = ros-melodic-realtime-tools
	depends = ros-melodic-urdf
	depends = ros-melodic-control-toolbox
	depends = ros-melodic-control-msgs
	depends = ros-melodic-controller-interface
	depends = ros-melodic-angles
	source = ros-melodic-effort-controllers-0.17.2.tar.gz::https://github.com/ros-controls/ros_controllers/archive/0.17.2.tar.gz
	sha256sums = fdd93a3aea7d140b1c04849790e81195f76fb421c7dfa51c86dcf22698f32b3e

pkgname = ros-melodic-effort-controllers

